In [1]:
import pandas as pd

In [3]:
lista = [12, 23, 34, 56, 67]
serie_pandas = pd.Series(lista)

In [5]:
print(serie_pandas[0])

12

In [7]:
notas = {"Thiago": 8.0, "Ghilerme": 9.0, "Juca": 2.2}

In [9]:
serie_notas = pd.Series(notas)
print(serie_notas["Thiago"])

Thiago      8.0
Ghilerme    9.0
Juca        2.2
dtype: float64

In [10]:
print(serie_notas.mean())
print(serie_notas.median())

6.3999999999999995

In [11]:
print(serie_notas.describe())

count    3.000000
mean     6.400000
std      3.671512
min      2.200000
25%      5.100000
50%      8.000000
75%      8.500000
max      9.000000
dtype: float64

In [12]:
print(serie_notas.sum())

19.2

In [19]:
# dataframe
dicio = {"Autores": ["Jorge", "martin", "Jonas"],
         "Livros": ["O ultimo", "O vencedor", "Jogador"],
         "Precos": [43.5, 56.7, 70.9]}
df = pd.DataFrame(dicio)

In [20]:
print(df)

  Autores      Livros  Precos
0   Jorge    O ultimo    43.5
1  martin  O vencedor    56.7
2   Jonas     Jogador    70.9

In [21]:
mascara = df["Autores"] == "Jorge"
print(mascara)

0     True
1    False
2    False
Name: Autores, dtype: bool

In [27]:
df[mascara]

  Autores    Livros  Precos
0   Jorge  O ultimo    43.5

In [29]:
df = df.append({"Autores": "Jorge", "Livros": "O penultimo", "Precos": 33.5}, ignore_index = True)

C:\Users\jonas\AppData\Local\Temp\ipykernel_6672\1217254175.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Autores": "Jorge", "Livros": "O penultimo", "Precos": 33.5}, ignore_index = True)

In [42]:
#masc_corr = df["Autores"] == "Jorge"
#masc_corr
df[df["Autores"] == "Jorge"]["Livros"]

0           O ultimo
3    O antepenultimo
Name: Livros, dtype: object

In [38]:
df.loc[1, "Livros"] = "O antepenultimo"

In [39]:
df

  Autores           Livros  Precos
0   Jorge         O ultimo    43.5
1  martin  O antepenultimo    56.7
2   Jonas          Jogador    70.9
3   Jorge  O antepenultimo    33.5